/* colors */
/* shadows */
.edgeShadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
html {
  background-color: #ffffff;
}
body {
  width: 52em;
  height: 100%;
  padding: 0 4em 4em 4em;
  margin: 0 auto;
  background-color: #f7f7f7;
  color: #f7f7f7;
}
