/* colors */
/* shadows */
.edgeShadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.page-footer {
  clear: both;
  font-size: 0.7em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: right;
  color: #f7f7f7;
}
.page-footer .contact-link:before {
  content: " - ";
}
.page-footer .creative-commons img {
  transform: translate(0, 0.4em);
}
