/* colors */
/* shadows */
.edgeShadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.masthead {
  position: relative;
  height: 6em;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.masthead .title,
.masthead nav {
  position: absolute;
  top: 1em;
  font-weight: 700;
}
.masthead h1 {
  margin: 0;
  font-size: 2.5em;
  line-height: 1em;
  color: #ffffff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}
.masthead h1 a {
  color: #444444;
}
.masthead .title {
  left: 2em;
}
