
@charset "UTF-8";

@font-face {
  font-family: "argyle-icons";
  src:url("fonts/argyle-icons.eot");
  src:url("fonts/argyle-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/argyle-icons.ttf") format("truetype"),
    url("fonts/argyle-icons.svg#argyle-icons") format("svg"),
    url("fonts/argyle-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "argyle-icons";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "argyle-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}


.icon-banknote:before {
  content: "a";
}

.icon-bubble:before {
  content: "b";
}

.icon-bulb:before {
  content: "c";
}

.icon-calendar:before {
  content: "d";
}

.icon-clip:before {
  content: "e";
}

.icon-clock:before {
  content: "f";
}

.icon-cloud:before {
  content: "g";
}

.icon-cup:before {
  content: "h";
}

.icon-data:before {
  content: "i";
}

.icon-diamond:before {
  content: "j";
}

.icon-display:before {
  content: "k";
}

.icon-eye:before {
  content: "l";
}

.icon-note:before {
  content: "m";
}

.icon-news:before {
  content: "n";
}

.icon-music:before {
  content: "o";
}

.icon-megaphone:before {
  content: "p";
}

.icon-mail:before {
  content: "q";
}

.icon-lock:before {
  content: "r";
}

.icon-location:before {
  content: "s";
}

.icon-like:before {
  content: "t";
}

.icon-lab:before {
  content: "u";
}

.icon-camera:before {
  content: "v";
}

.icon-key:before {
  content: "w";
}

.icon-heart:before {
  content: "x";
}

.icon-fire:before {
  content: "y";
}

.icon-paperplane:before {
  content: "z";
}

.icon-params:before {
  content: "A";
}

.icon-food:before {
  content: "B";
}

.icon-pen:before {
  content: "C";
}

.icon-phone:before {
  content: "D";
}

.icon-photo:before {
  content: "E";
}

.icon-search:before {
  content: "F";
}

.icon-settings:before {
  content: "G";
}

.icon-shop:before {
  content: "H";
}

.icon-sound:before {
  content: "I";
}

.icon-stack:before {
  content: "J";
}

.icon-star:before {
  content: "K";
}

.icon-study:before {
  content: "L";
}

.icon-t-shirt:before {
  content: "M";
}

.icon-world:before {
  content: "N";
}

.icon-vynil:before {
  content: "O";
}

.icon-video:before {
  content: "P";
}

.icon-vallet:before {
  content: "Q";
}

.icon-user:before {
  content: "R";
}

.icon-tv:before {
  content: "S";
}

.icon-truck:before {
  content: "T";
}

.icon-trash:before {
  content: "U";
}

.icon-tag:before {
  content: "V";
}

.icon-twitter-circled:before {
  content: "W";
}

.icon-tumblr-circled:before {
  content: "X";
}

.icon-vimeo-circled:before {
  content: "Y";
}

.icon-pinterest-circled:before {
  content: "Z";
}

.icon-linkedin-circled:before {
  content: "0";
}

.icon-facebook-circled:before {
  content: "1";
}

.icon-gplus-circled:before {
  content: "2";
}

.icon-fontawesome-webfont:before {
  content: "3";
}

.icon-fontawesome-webfont-1:before {
  content: "4";
}

.icon-fontawesome-webfont-2:before {
  content: "5";
}

.icon-x-alt:before {
  content: "6";
}

